
/* About Page */
/*  Thanks to Joel Reed and his SUPER nice website, it was a great reference! */
/*body{
  background-color: rgb(155, 151, 151); /* Backgrounf color changed to white 
} 
*/

body {
  opacity: 1;
  transition: 0.7s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}

html {overflow-y: scroll;}


.row {
  display: flex;
}

.column-left {
  flex: 40%;
}
.column-right {
  flex: 60%;
}
#title_name {
	text-align: center;
  font-family: Courier New;
  color: #6989bc;
  padding-top: cm;
}


#background_picture{
  display: block;
    margin: auto;
    width: 40%;
}
a { /*This is a test class*/
    color: #FFFFFF;
    text-decoration: none;
}
a:hover 
{
	transition: all .5s ease;
     color:#000000; 
     text-decoration:none; 
     cursor:pointer; 
}
.navmain{
  font-size:28px;
  padding-right: 5%; 
	font-style: Courier;
	color: #565656;
}
#nav_bar{
text-align-last: center;
padding-top: .5%;

}


/* Header under myself */
	
.header_top{
 width: 100%;
  height:140px;
  background-color: #565656;
  color: #242328;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  position:relative;
  border-bottom: 12px solid #76323F;
  }
.header_about{
	text-align:left;
	padding-left: 60px;
	padding-top: 30px;
	font-size: 48px;	
	font-weight: normal;
}	

.flex_container_nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	
}



.header_menu_box{
	width:30%;
	height:24cm;
	/*border-radius: 3%;*/
	background-color: #D7CEC7;
	border-right: 12px solid #76323F;
}
#my_pic{
	border-radius:10%;
	/* position: center; */
	margin-left: 15%;
}
.border_bottom{
	border-bottom: 12px solid #76323F; 

}
#image_box{
	justify-content: center;

}
#wsu_img_box{
	width:100%;
	height: 200px;
	background-color: rgb(155, 151, 151); 
	display: flex;
	justify-content: center;
}
#wsu_svg{
	text-align: right;
    height: 35%;
	max-width:auto;
	position: relative;
	margin-top:auto;
	margin-bottom: auto;
}
#Paragraphs{
font-size: 22px;
margin-right: 15%;

}
#Paragraphs-WSU{
	font-size: 24px;
	margin-left: 8%;
	}

#WSU_Text{
	margin-left: 15%;

}
#WSU_Text_2{
	margin-left: 27%;

}